@page "/"
<h1>Hello </h1>
<p>Welcome to the Book Store.</p>

<div class="form-group" style="margin-top:2%; " >
    <a href="/allbooks" class="oi oi-book">
        All Books
    </a>
    <a href="/addbook" class="oi oi-plus" style="margin-left:2%; color:forestgreen;" >
        Click here to Add Book
    </a>
</div>
